.sheet-main {
 background-color: #D4EFEA;
  display: grid;
  width: 800px;
  height: 900px;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:"header  header misc    misc"
                      "charac  skill  skill   skill"
                      "charac  skill  skill   skill"
                      "charac  skill  skill   skill"
                      "combat  combat combat  combat"
                      "inv     inv    inv     inv"
                      "food    food   food    food"
                      "herb    herb   herb    herb"
                      "footer  footer footer  footer";
}

/*----------------- GENERAL CSS ------------------*/

textarea {
  width: 90%;
  height: 75%;
}

.sheet-section {
    padding: 5px;
    border-style: solid;
}

.sheet-flex-col {
    display: flex;
}

.sheet-flex-row {
    display: flex;
}

.sheet-flex-center {
  align-items: center;
  justify-content: center;
}

label {
	display: inline-block;
}

input {
	display: inline-block;
}


/*------------- Section-specific CSS -------------*/

.sheet-header {
  grid-area: header;
}

.sheet-charac {
  grid-area: charac;
  display: flex;
  flex-direction:column;
  align-items:flex-end;
}

.sheet-common {
  grid-area: common;
}

.sheet-skill {
  grid-area: skill;
  display: flex;
  flex-direction:column;
  align-items:flex-start;
}

.sheet-combat {
  grid-area: combat;
    display: flex;
  flex-direction:column;
}

.sheet-inv {
  grid-area: inv;
}

.sheet-misc {
  grid-area: misc;
}

.sheet-food {
  grid-area: food;
}

.sheet-herb {
  grid-area: herb;
}

.sheet-footer {
  grid-area: footer;
}

.sheet-smlab {
 font-size: small;
}

